.experience-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px 0 0 0;
}
.experience-parent {
  max-width: 1000px;
  width: 70%;
}

.experience-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.experience-date {
  background-color: var(--darkOrange);
  padding: 4px 12px;
  font-size: 12px;
  border-radius: 14px;
  color: var(--white);
  margin-bottom: 5px;
  margin-top: 5px;
}
.experience-description {
  color: var(--darkOrange);
  font-size: 16px;
  font-family: "Poppins SemiBold";
  padding-top: 5px;
  padding-bottom: 5px;
}

/*EXPERIENCE TIMELINE */
.experience-wrapper {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--navy);
  z-index: 1;
}

.timeline-block {
  margin-top: 1rem;
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--navy);
  background: var(--blue);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--navy);
  direction: ltr;
}

.timeline-content h5 {
  text-align: justify;
  font-size: 14px;
  font-family: "Poppins SemiBold";
  color: var(--black);
}

.timeline-content p {
  font-family: "Poppins Regular";
  font-size: 12px;
  margin-bottom: 0.5rem;
  text-align: justify;
}

/*------------ MEDIA ------------------*/
@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }
  .timeline-block-right {
    float: none;
    width: 100%;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
    width: 100%;
  }
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .experience-parent {
    width: 88%;
  }
}
@media only screen and (max-width: 898px) {
  .experience-profile,
  .experience-profile-2 {
    display: none;
  }
  .experience-details {
    width: 100%;
  }
}
@media only screen and (max-width: 466px) {
  .experience-options {
    display: flex;
    flex-direction: column;
  }
  .experience-options .highlighted-btn {
    margin: 24px 0 0 0 !important;
  }
  .experience-options button {
    width: 100%;
  }
}
