:root {
  --blue: #2874f0;
  --blue-focus: rgba(30, 85, 250, 0.47);
  --navy: #151723;
  --darkOrange: #fb641b;
  --lightOrange: #ff9f00;
  --white: #fffdfa;
  --black: #333333;
  --brightWhite: #ffffff;
}
